@media(max-width:992px){

    .featured__grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .featured__grid{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){

    .footer__container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .footer__brand p{
        margin-inline:auto;
    }

}

@media(max-width:992px){
    .header__menu{
        gap:24px;
    }

    .header__link{
        font-size:.95rem;
    }
}
@media(max-width:768px){

    .header__toggle{
        display:flex;
    }

    .header__nav{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:var(--clr-background);
        border-top:1px solid var(--clr-border);

        max-height:0;
        overflow:hidden;

        transition:max-height .4s ease;
    }

    .header__menu{
        flex-direction:column;
        align-items:center;
        padding:30px 0;
        gap:25px;
    }

    .header__checkbox:checked~.header__nav{
        max-height:450px;
    }

    .header__checkbox:checked+.header__toggle span:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }

    .header__checkbox:checked+.header__toggle span:nth-child(2){
        opacity:0;
    }

    .header__checkbox:checked+.header__toggle span:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }

}

@media (max-width: 992px){

    .categories__container{
        grid-template-columns:1fr;
    }

    .filters{
        position:static;
    }

    .articles-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:768px){

    .articles-grid{
        grid-template-columns:1fr;
    }

}

/* Media query para Vista de Comunidad */
@media (max-width: 992px) {
  .community__container {
    grid-template-columns: 1fr;
  }
  
  .forum-card {
    grid-template-columns: 1fr;
  }
  
  .forum-card__last {
    text-align: left;
    border-left: none;
    border-top: 1px solid var(--clr-border);
    padding-left: 0;
    padding-top: 12px;
  }
}