:root{
    --primary-color: #4CAF50;
}
*{
    box-sizing: border-box;
}
.nav{
    background-color: var(--primary-color);
    overflow: hidden;
}
.header{
    color: rgb(229, 11, 11);
    padding: 20px;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}